src/test/resources/datapack-fixed-width-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:datapack="http://www.mulesoft.org/schema/mule/datapack"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/datapack http://www.mulesoft.org/schema/mule/datapack/3.2/mule-datapack.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
        ">

    <flow name="fixedwidthoutputrightpad">
        <vm:inbound-endpoint path="fixedwidthoutputrightpad.in" exchange-pattern="request-response"/>

        <datapack:fixed-width-output-transformer pad-format="right">
            <datapack:column column-name="column1" length="5" value="#[payload]"/>
            <datapack:column column-name="column2" length="6" value="#[payload]"/>
        </datapack:fixed-width-output-transformer>
    </flow>

    <flow name="fixedwidthoutputdefaultpad">
        <vm:inbound-endpoint path="fixedwidthoutputdefaultpad.in" exchange-pattern="request-response"/>

        <datapack:fixed-width-output-transformer>
            <datapack:column column-name="column1" length="2" value="#[payload]"/>
            <datapack:column column-name="column2" length="6" value="#[payload]"/>
        </datapack:fixed-width-output-transformer>
    </flow>

    <flow name="fixedwidthoutputnondefaultpadding">
        <vm:inbound-endpoint path="fixedwidthoutputnondefaultpadding.in" exchange-pattern="request-response"/>

        <datapack:fixed-width-output-transformer pad-char="0">
            <datapack:column column-name="column1" length="5" value="#[payload]"/>
            <datapack:column column-name="column2" length="6" value="#[payload]"/>
        </datapack:fixed-width-output-transformer>
    </flow>

    <flow name="fixedwidthoutputnullvalues">
        <vm:inbound-endpoint path="fixedwidthoutputnullvalues.in" exchange-pattern="request-response"/>

        <datapack:fixed-width-output-transformer pad-char="0">
            <datapack:column column-name="column1" length="5" value="#[map-payload:data]"/>
            <datapack:column column-name="column2" length="6" value=""/>
        </datapack:fixed-width-output-transformer>
    </flow>

</mule>
