src/test/resources/datapack-delimited-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:datapack="http://www.mulesoft.org/schema/mule/datapack"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/datapack http://www.mulesoft.org/schema/mule/datapack/3.2/mule-datapack.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
        ">

    <flow name="delimitedOutputWithPipes">
        <vm:inbound-endpoint path="delimitedOutputWithPipes.in" exchange-pattern="request-response"/>

        <datapack:delimited-output-transformer delimiter-char="|">
            <datapack:column value="#[payload]"/>
            <datapack:column value="#[payload]"/>
        </datapack:delimited-output-transformer>
    </flow>

    <flow name="delimitedOutputWithDefaultValue">
        <vm:inbound-endpoint path="delimitedOutputWithDefaultValue.in" exchange-pattern="request-response"/>

        <datapack:delimited-output-transformer>
            <datapack:column value="#[payload]"/>
            <datapack:column value="" default-value="#[payload]"/>
        </datapack:delimited-output-transformer>
    </flow>


    <script:transformer name="scriptTransformer">
        <script:script engine="groovy">
            return "transform" + payload;
        </script:script>
    </script:transformer>

    <flow name="delimitedOutPutWithTransformers">
        <vm:inbound-endpoint path="delimitedOutPutWithTransformers.in" exchange-pattern="request-response"/>

        <datapack:delimited-output-transformer>
            <datapack:transform-column value="data" transformer-name="scriptTransformer"/>
        </datapack:delimited-output-transformer>
    </flow>

</mule>
