src/test/resources/datapack-delimited-to-map-with-mappings.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:datapack="http://www.mulesoft.org/schema/mule/datapack"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/datapack http://www.mulesoft.org/schema/mule/datapack/3.2/mule-datapack.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        ">

    <flow name="delimitedToMap" processingStrategy="synchronous">
        <vm:inbound-endpoint path="delimitedToMap.in" exchange-pattern="request-response"/>

        <datapack:delimited-to-maps-transformer delimiter="COMMA" lineDelimiter="CR"/>

        <datapack:mapping-transformer >
            <datapack:mapping destinationColumn="Id" sourceColumn="AccountId"/>
            <datapack:mapping destinationColumn="Name" value="#[groovy:payload.FirstName + '-' + payload.LastName]"/>
        </datapack:mapping-transformer>

    </flow>

    <flow name="delimitedToMap2" processingStrategy="synchronous">
        <vm:inbound-endpoint path="delimitedToMap2.in" exchange-pattern="request-response"/>

        <datapack:delimited-to-maps-transformer delimiter="COMMA"/>


        <datapack:mapping-transformer >
            <datapack:date-mapping destinationColumn="DoB" sourceColumn="Birthdate" dateFormatIn="yyyy-MM-dd" dateFormatOut="MM.dd.yyyy"/>
            <datapack:mapping destinationColumn="Id" sourceColumn="AccountId"/>
            <datapack:mapping destinationColumn="Name" value="#[groovy:payload.FirstName + '-' + payload.LastName]"/>
        </datapack:mapping-transformer>

    </flow>

</mule>
