src/test/resources/datapack-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:datapack="http://www.mulesoft.org/schema/mule/datapack"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/datapack http://www.mulesoft.org/schema/mule/datapack/3.2/mule-datapack.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        ">

    <flow name="fixedwidthoutput">
        <vm:inbound-endpoint path="fixedwidthoutput.in"/>

        <datapack:fixed-width-output-transformer>
            <datapack:column columnName="column1" length="5" value="#[payload]"/>
            <datapack:column columnName="column2" length="6" value="#[payload]"/>
        </datapack:fixed-width-output-transformer>

        <datapack:delimited-output-transformer>
            <datapack:column columnName="column3" length="5" value="#[payload]"/>
        </datapack:delimited-output-transformer>
    </flow>

</mule>
